


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,p,ul,li{
  padding: 0;
  margin: 0;
}

.slick-arrow::before{
  color: #000 !important;
}

@media screen and (max-width:500px){
  .slider__img{
    height: 300px;
  }
}

@media screen and (max-width:899px){
  .telegram__wrapper{
    margin: 0 10px 10px 10px !important;
  }

  .slider__wrapper{
    padding: 10px !important;
    margin-bottom: 20px;
  }
  
  .card--wrapper{
    padding: 10px !important;
  }
}

.slick-slide div{
  outline:none
}
